In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Read in csv
birth_path = 'abs_table 6.1_2015.csv'
birth_data_df = pd.read_csv(birth_path)

birth_data_df.head(20)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"3301.0 Births, Australia, 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (Canberra time) Tues 8 No...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 6.1 Births, Country of birth of mother–2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Age-specific fertility rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Father born in,NaN,NaN,Nuptiality,NaN,NaN
4,NaN,Total births,Estimated resident female population,15–19 years,20–24 years,25–29 years,30–34 years,35–39 years,40–44 years,45–49 years,Total fertility rate,Total confinements,Australia,Same overseas country as mother,Other country,Nuptial,Exnuptial,Median age of mother
5,Country of birth of mother,no.,no.,rate,rate,rate,rate,rate,rate,rate,rate,no.,%,%,%,%,%,years
6,Total,"-305,377","5,689,294",13.1,49.0,95.7,118.9,69.2,14.9,1.0,1.81,"301,114",64.7,20.0,15.2,67.8,32.2,31.0
7,Total overseas-born,"104,900","1,780,669",8.4,41.8,92.2,118.0,73.9,17.4,1.3,1.76,"103,583",25.7,57.1,17.2,82.4,17.6,31.8
8,Oceania and Antarctica,"212,629","4,129,319",14.3,52.6,97.7,119.0,66.6,13.8,0.9,1.82,"209,488",83.0,2.5,14.4,59.5,40.5,30.5
9,Australia,"200,157","3,908,625",14.0,51.4,97.4,119.3,66.4,13.7,0.9,1.82,"197,214",85.8,NaN,14.2,59.9,40.1,30.5
10,Fiji,"1,061","22,207",6.7,60.6,104.0,100.6,47.6,10.8,1.0,1.66,"1,052",18.8,61.3,20.0,84.5,15.5,31.8
11,New Zealand,"9,546","170,256",23.1,78.5,96.6,111.0,69.4,15.1,1.1,1.97,"9,379",43.4,40.4,16.2,48.2,51.8,30.4
12,Papua New Guinea,477,"11,035",13.0,61.9,98.8,121.0,74.3,15.2,1.0,1.93,472,58.8,21.2,20.0,61.8,38.2,32.8
13,Samoa,703,"8,432",29.5,108.7,204.0,157.2,101.5,38.9,2.0,3.21,694,9.7,63.2,27.1,66.6,33.4,31.2
14,Other,685,"8,764",40.8,124.4,160.6,148.9,92.0,26.2,1.4,2.97,677,20.2,45.9,33.9,56.8,43.2,30.6
15,North-West Europe,"13,053","277,690",4.1,23.9,60.5,132.6,92.0,19.0,1.2,1.67,"12,839",52.4,26.5,21.1,68.8,31.2,33.5
16,Austria,105,"1,955",0.0,28.7,45.2,131.4,83.1,20.7,0.8,1.55,104,68.0,1.9,28.2,71.8,28.2,33.6
17,Denmark,78,"2,166",3.1,17.5,97.5,125.2,80.2,22.8,0.0,1.73,77,64.9,1.3,29.9,72.7,27.3,32.7
18,Finland,100,"1,891",5.7,11.5,49.5,109.3,107.5,25.2,0.0,1.54,100,62.6,10.1,27.3,71.7,28.3,34.5
19,France,599,"11,999",0.7,5.8,31.6,121.8,91.1,23.9,0.9,1.38,587,41.9,31.7,26.4,62.1,37.9,33.1